/* 
@media (max-width: 768px) {
   .muestraServicio{
      background-color: rgb(89, 169, 200);
      border: 5px solid black;
      width: 21rem;
      height: auto;
      color: black;
      font-size: 1rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
   }
   
   .descrip{
      font-size: 0.8rem;
   }
   
   .volver{
      font-size: 0.9rem;
      text-align: center;
      width: 10rem;
      height: 2rem;
      background-color: black;
      color: white;
      margin: 1rem;
   }
} */

.muestraServicio{
   background-color: turquoise;
   border: 10px solid black;
   color: black;
   padding: 1rem;
   width: 50rem;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10%;
}
.titulo{
   font-size: 2rem;
   font-weight: normal;
   text-align: center;
   text-decoration: underline;
}
.precio{
   font-size: 1.5rem;
   font-weight: bold;
   text-align: center;
}

.descrip{
   font-size: 1rem;
   justify-content: center;
}

.volver{
   font-size: 1rem;
   text-align: center;
   width: 10rem;
   height: 2rem;
   background-color: black;
   color: white;
   margin-top: 3rem;
} 
.countDetail{
   margin-left: auto;
   margin-right: auto;
}
