/* @media (max-width: 768px) {
    .count{
        background-color: black;
        border: 2px solid turquoise;
        color: #ffffff;
        width: 17rem;
        height: auto;
        padding: 0.5rem;
        margin-top: 1rem;
    }
    .count h1{
        font-size: 1rem;
    }
    .btnn{
        background-color: turquoise;
        font-size: 1.5rem;
        width: 3rem;
        height: 3rem;
        margin: 0.5rem;
    }
    .btn-add{
        background-color: turquoise;
        font-size: 1rem;
    }
} */



.count{
    background-color: skyblue;
    border: 2px solid black;
    color: #ffffff;
    width: 15rem;
    height: auto;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.countN{
    font-size: 2.5rem;
}
/* .countTitle{
    font-size: 1.5rem;
    margin-top: 1rem;
} */
.btnn{
    background-color: black;
    color: white;
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
}
.btn-add{
    background-color: black;
    color: white;
    font-size: 1rem;
}