.count{
    background-color: black;
    border: 2px solid cadetblue;
    color: #ffffff;
    width: 25rem;
    height: auto;
    padding: 1rem;
}
.count h1{
    font-size: 1.5rem;
}
.btnn{
    background-color: cadetblue;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
}
.btn-add{
    background-color: cadetblue;
    font-size: 1rem;
}